body {
  font-family: 'Courier New', Courier, monospace;
}
#logo {
  display: flex;
  justify-content: center;
}

#rtg {
  display: flex;
  justify-content: center;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  position: absolute;
  width: 229px;
  height: 47px;
  left: 593px;
  top: 158px;
}
#inicio {
  position: absolute;
  width: 727px;
  height: 112px;
  left: 297px;
  top: 285px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-top: 50px;
}
.foto {
  position: absolute;
  width: 222px;
  height: 160px;
  left: 867px;
  top: 440px;
  background: url(paiefilho.png);
}
.foto1 {
  position: absolute;
  width: 163px;
  height: 152px;
  left: 604px;
  top: 450px;
  background: url(financeiro1.png);
}
.foto2 {
  position: absolute;
  width: 216px;
  height: 154px;
  left: 258px;
  top: 448px;
  background: url(carro.png);
}
#formulario {
  position: absolute;
  width: 418px;
  height: 250px;
  left: 688px;
  top: 760px;
  background: rgba(250, 149, 54, 0.32);
}
.info {
  display: flex;
  flex-direction: column;
}
#field-radiobox input {
}
.btn-item,
button {
  padding: 10px 5px;
  margin-top: 50px;
  border-radius: 5px;
  border: none;
  background: #8c1e00;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}
button:hover,
.btn-item:hover {
  background: #85d6de;
}
button {
  width: 100%;
  cursor: pointer;
}
.elipse00 {
  position: absolute;
  width: 97px;
  height: 97px;
  left: 527px;
  top: 110px;
  border-radius: 100%;
  background: #fa9536;
  z-index: x;
}
.elipse {
  position: absolute;
  width: 304px;
  height: 259px;
  left: 45px;
  top: 800px;
  border-radius: 100%;
  background: rgba(250, 149, 54, 0.54);
}
.elipse2 {
  position: absolute;
  width: 161px;
  height: 132px;
  left: 336px;
  top: 685px;
  border-radius: 100%;
  background: rgba(140, 30, 0, 0.79);
}
.elipse3 {
  position: absolute;
  width: 125px;
  height: 121px;
  left: 441px;
  top: 850px;
  border-radius: 100%;
  background: linear-gradient(
      0deg,
      rgba(250, 149, 54, 0.44),
      rgba(250, 149, 54, 0.44)
    ),
    rgba(250, 149, 54, 0.44);
}
.elipse4 {
  position: absolute;
  width: 210px;
  height: 182px;
  left: 297px;
  top: 1000px;
  border-radius: 100%;
  background: rgba(250, 149, 54, 0.83);
}
.elipse5 {
  position: absolute;
  width: 563px;
  height: 510px;
  left: -266px;
  top: 1100px;
  border-radius: 100%;
  background: rgba(140, 30, 0, 0.79);
}
form {
  margin: 30px;
}
#email {
  width: 100%;
}
#nome {
  width: 100%;
}
#soma {
  width: 350px;
}
