body {
  font-family: 'Courier New', Courier, monospace;
}
#logo {
  display: flex;
  justify-content: center;
}

#log {
  margin-top: 70px;
}

h1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #000000;
}

#rtg {
  display: flex;
  justify-content: center;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  position: absolute;
  width: 229px;
  height: 47px;
  left: 593px;
  top: 158px;
}
#inicio {
  position: absolute;
  width: 727px;
  height: 112px;
  left: 297px;
  top: 175px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  margin-top: 50px;
}
.foto {
  position: absolute;
  width: 222px;
  height: 160px;
  left: 867px;
  top: 440px;
}
.foto1 {
  position: absolute;
  width: 163px;
  height: 152px;
  left: 604px;
  top: 450px;
}
.foto2 {
  position: absolute;
  width: 216px;
  height: 154px;
  left: 258px;
  top: 448px;
}
#formulario {
  position: absolute;
  width: 318px;
  height: 344px;
  left: 861px;
  top: 880px;
  background: rgba(250, 149, 54, 0.32);
  border-radius: 22px;
}

aside {
  background-image: url(imageFundo.png);
}

.info {
  display: flex;
  flex-direction: column;
}

.btn-item {
  padding: 10px 5px;
  margin-top: 50px;
  border-radius: 5px;
  border: none;
  background: #8c1e00;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}
button:hover,
.btn-item:hover {
  background: #85d6de;
}
button {
  width: 100%;
  cursor: pointer;
}

form {
  margin: 30px;
  margin-top: 5px;
}
#email {
  width: 100%;
}
#nome {
  width: 100%;
}
#soma {
  width: 350px;
}

#fundo img {
  position: absolute;
  width: 1280px;
  height: 855px;
  left: 35px;
  top: 650px;

  background: url(image.png);
}
